name: Update iTerm2 colorschemes
on:
  schedule:
    # Once a week
    - cron: "0 0 * * 0"
  workflow_dispatch:
jobs:
  update-iterm2-schemes:
    if: github.repository == 'ghostty-org/ghostty'
    runs-on: namespace-profile-ghostty-sm
    permissions:
      # Needed for create-pull-request action
      contents: write
      pull-requests: write
    env:
      ZIG_LOCAL_CACHE_DIR: /zig/local-cache
      ZIG_GLOBAL_CACHE_DIR: /zig/global-cache
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0

      - name: Setup Cache
        uses: namespacelabs/nscloud-cache-action@446d8f390563cd54ca27e8de5bdb816f63c0b706 # v1.2.21
        with:
          path: |
            /nix
            /zig

      - name: Setup Nix
        uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: ghostty
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Run zig fetch
        id: zig_fetch
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          # Get the latest release from iTerm2-Color-Schemes
          RELEASE_INFO=$(gh api repos/mbadolato/iTerm2-Color-Schemes/releases/latest)
          TAG_NAME=$(echo "$RELEASE_INFO" | jq -r '.tag_name')
          nix develop -c zig fetch --save="iterm2_themes" "https://github.com/mbadolato/iTerm2-Color-Schemes/releases/download/${TAG_NAME}/ghostty-themes.tgz"
          echo "tag_name=$TAG_NAME" >> $GITHUB_OUTPUT

      - name: Update zig cache hash
        run: |
          # Only proceed if build.zig.zon has changed
          if ! git diff --exit-code build.zig.zon; then
            nix develop -c ./nix/build-support/check-zig-cache.sh --update
            nix develop -c ./nix/build-support/check-zig-cache.sh
          fi

      # Verify the build still works. We choose an arbitrary build type
      # as a canary instead of testing all build types.
      - name: Test Build
        run: nix build .#ghostty

      - name: Create pull request
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7.0.9
        with:
          title: Update iTerm2 colorschemes
          base: main
          branch: iterm2_colors_action
          commit-message: "deps: Update iTerm2 color schemes"
          add-paths: |
            build.zig.zon
            build.zig.zon.nix
            build.zig.zon.txt
            build.zig.zon.json
            flatpak/zig-packages.json
          body: |
            Upstream release: https://github.com/mbadolato/iTerm2-Color-Schemes/releases/tag/${{ steps.zig_fetch.outputs.tag_name }}
          labels: dependencies
